@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

*{
    margin: 0;
    padding: 0;
    

}
  /* nav style */
header{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(0, 0, 0, 0) 100%); */
    background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgb(43, 42, 42) 50%,
		rgba(0, 0, 0, 1) 100%
	);

}   
header li{
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}
header a{
    text-decoration: none;  
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
}
nav h3{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}
/* .nav-container{
    display: flex;
    justify-content: space-between;
    
} */

.nav-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.nav-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;   

}
.icon{
    display: none;
}
.home{
    border: 4px solid rgb(230, 83, 60);
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-container h3{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
}
.text-primary{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.header-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    width: 60%;
    padding-bottom: 20px;
}
/* .header-image{
    border: 2px solid red;
} */
.image-container{
    position: relative;
}
.f-btn{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    font-weight: 600;
    width: 9.3rem;
    height: 2rem;
    
}
.s-btn{
    background: black;
    border-radius: 42px;
    border: 1px white solid;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    font-weight: 600;
    width: 9.3rem;
    height: 2rem;
    
}
.t-btn{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 10px;
    
   
}
.t-button{
    position: absolute;
    margin-top: -150px;
}

.t-btn h4{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}
.t-btn p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.9rem;
    font-weight: 400;
}
.circle{
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    /* display: inline-block; */
}
.circle-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fr-btn{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;   
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 10px;
    
    
}
.fr-button{
    position: absolute;
    margin-left: 200px;
    margin-top: -450px;
}
.fr-btn h4{
    color: rgb(250, 250, 249);
    font-size: 2rem;
    font-weight: 900;
}
.fr-btn p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.9rem;
    font-weight: 400;
}
/* habit section */
main{
    background-color: black;
    /* padding-left: 150px;
    padding-right: 150px; */
    padding-top: 30px;
}

/* habit style started */
.habit{
    padding-left: 150px;
    padding-right: 150px;
}
.habit-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.habit  h3{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.habit  p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.habit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.circle-image{
    border: 1px solid white;
    height: 60%;
    width: 60%;
    border-radius: 50%;
}
.h-image h4{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
}
.h-image{
    text-align: center;
}

/* run section style started */
.run-container{
    margin-left: 150px;
    margin-right: 150px;
}

.run{
    margin-top: 100px;;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center;
    justify-content: space-between; */


    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;    
}
.r-btn{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    font-weight: 600;
    width: 9.3rem;
    height: 2rem;
    
}
.run-extra{
    margin-top: 35px;
    margin-left: 40px;
    margin-bottom: 35px;
}
.run img{
    border-radius: 18px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 25px;
}
/* run section style ended */

/* calculator style start */

.calculator-container h3{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;  
}
.calculator-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400; 
}
.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.cal-container{
    background: rgb(34, 34, 34);

}
table{
    border-collapse: collapse;
}
table th{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}
table tr{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    
}
th , td{
    border: 1px solid rgba(255, 255, 255, 0.5) ;
    padding: 10px;
}
.table-container{
    margin-bottom: 40px;
}
.cal-container{
    padding-left: 180px;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 180px;

    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.cal-container h4{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
}
.cal-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;

}
input{
    background-color: #393939;
    border: none;
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}
.cal-btn{
    background: rgb(230, 83, 60);
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    font-weight: 600;
    width: 9.3rem;
    height: 2rem;   
    margin-top: 20px;
}


/* calculator style ended */

/* team section style started */
.team-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    margin-left: 190px;
    margin-right: 190px;
    
}
.team{
    margin-bottom: 70px;
}
.team h3{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.team p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;   
}
.team-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;

    background: rgba(255, 255, 255, 0.1);
    padding-left: 45px;
    padding-top: 38px;
}
.team-image{
    width: 80%;
    height: 80%;
    border-radius: 18px;
}
.team-image-container{
    position: relative;
}
.team-image-description{
    position: absolute;
    bottom: 20%;
    left: 10%;
}
.team-image-description h3{
    color: rgb(255, 255, 255);
}
.team-image-description p{
    color: rgba(255, 255, 255, 0.5);
}
/* team style ended */

/* review started */
.review-container h3{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;   
}
.review-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;  
}
.review-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    margin-left: 190px;
    margin-right: 190px;
    padding-bottom: 50px;
}
.review-container h4{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
     
}
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    padding-top: 50px;
    border-radius: 50%;

}
.box{
    text-align: center;
    padding:2rem;
    border:5px solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    flex:1 1 30rem;
    background:#333;
    margin-top: 6rem;
}

.box-container img{
    height: 12rem;
    width:12rem;
    border-radius: 50%;
    border:5px solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}

/* review ended */

/* footer started */
footer{
    background: rgb(34, 34, 34); 
    padding-left: 190px;  
    padding-right: 190px;
    padding-bottom: 30px;
    padding-top: 40px;
}
.footer-container{
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}
.footer-option{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
footer h1{
    color: rgb(230, 83, 60);
    font-size: 60px;
    font-weight: 800;
}
.footer-container h3{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
}
.footer-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.foot-p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    padding-top: 8px;
    text-align: center;
}
.foot-container-para{
    padding-right: 20px;
}

/* footer ended */

/* smaller device */
@media screen and (max-width:576px) {
    header{
        padding-left: 0px;
        padding-right: 0px; 
    }  
    header li{
        padding-left: none;
        padding-right: none;
    }
    /* .nav-container{
        flex-direction: column;
    } */
    .nav-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 80px;
    }
    .nav-details{
        display: none;
    }
    .icon{
        display: block;
    }

    .header-section{
        flex-direction: column;
        
    }
    .header-container h3{
        font-size: 30px;
    }

    .header-container{
        /* border: 2px solid red; */
        width: 352px;
        height: 335px;
      
    }
    .header-image{
        
        /* border: 2px solid red; */
        margin: 0 auto;
    }
    .header-image img{
        
        width: 100% ;
    }
    .image-container{
        width: 352px;
        height: 588px;
        margin: 0 auto;
     
    }

     
    .t-button{
        position: absolute;
        margin-top: -150px;
    }
    .fr-btn{
        border-radius: 12px;   
        padding: 2px 2px;
        
        
    }
    .fr-btn h4{
        font-size: 1rem;
    }
    .fr-button{
        position: absolute;
        margin-left: 160px;
        margin-top: -400px;
    }
   



 /* habit section started*/
    main{
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
    }
    .habit{
        padding-left: 0;
        padding-right: 0;
    }

    .habit-images{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .circle-image{
        height: 65%;
        width: 50%;
        border-radius: 50%;
    }

/* habit section ended*/
 /* run section style started */

.run{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* align-items: center;
    justify-content: space-between; */
}

.run p{
    font-size: 10px;
   
}

.run-extra{
    margin-top: 25px;
    margin-left: none;
    margin-bottom: 35px;
    margin-right: none;
}
.run img{
    border-radius: 18px;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
    height: 80%;
    width: 80%;
}
.run-container{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
/* run section ended */

 /*calculator section started  */
 .cal-container{
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-right: 10px;
    grid-template-columns: repeat(1,1fr);
}
.cal-btn{

}

 /* calculator section ended */

/* team section style started */
.team-container{
    margin-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.team h3{
    font-size: 30px;
}
.team p{
    font-size: 12px; 
}
.team-img{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
.team{
    margin-bottom: 20px;
}
/* team section ended */

/* review section started */
.box-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.review-container h3{
    font-size: 30px;

}

.review-container p{
    font-size: 12px;
}
.review-container {
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}


/* review section ended */

 /* footer started */
footer{
    background: rgb(34, 34, 34); 
    padding-left: 20px;  
    padding-right: 20px;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(1,1fr); 
    
}
.footer-option{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
footer h1{
    font-size: 40px;
}
.foot-s{
    padding-top: 20px;
}

/* footer ended */
}

